
@media only screen and (max-width : 768px) {
	body {
		background-size: auto 100%;
	}
}

@media only screen and (min-width : 768px) {
	body {
		background-size: 100% auto;
	}
	nav.navbar {
		margin-top: 40px;
		height: 60px;
		background: none;
		border: 0px;
		border-radius: 0px;
		.container > #my-menu {
			background: rgba(0,0,0,0.8);
			color: white;
		}
		.navbar-header {
			padding: 0px 10px;
			.navbar-brand {
				height: 60px;
				line-height: 60px;
				font-size: 32px;
				margin: 0px;
				padding: 0px 20px;
				color: white;
			}
		}
		#my-menu {
			padding: 0px 20px;
		}
	}
}