html
	head
		title VHS Nation
		link(rel="stylesheet",href="/lib/font-awesome/css/font-awesome.css")
		link(rel="stylesheet",href="/lib/bootstrap/dist/css/bootstrap.css")
		link(rel="stylesheet",href="/css/style.css")
	
	body(ng-app="vhs-nation", ng-controller="MainCtrl")

		nav.navbar.navbar-inverse
			.container
				.navbar-header
					button.navbar-toggle.collapsed(data-toggle="collapse",data-target="#my-menu")
						i.fa.fa-bars
					a(ui-sref="home").navbar-brand VHS Nation

				.collapse.navbar-collapse#my-menu
					ul.nav.navbar-nav.navbar-left(ng-if="!loggedIn()")
						li: a(href="/#!/catalogue") Catalogue
						li: a(href="/#!/catalogue/promos") Promo Tapes
					ul.nav.navbar-nav.navbar-left(ng-if="loggedIn()")
						li: a(href="/#!/admin/tapes") VHS Tapes
						li: a(href="/#!/admin/categories") Categories
						li: a(href="/#!/admin/users") Users
					ul.nav.navbar-nav.navbar-right(ng-if="!loggedIn()")
						li: a(href="/#!/cart") Cart
						li: a(ui-sref="login") Login
					ul.nav.navbar-nav.navbar-right(ng-if="loggedIn()")
						li: a {{ userData.name }}
						li: a(ng-click="logout()") Logout

		.container(ui-view="")

		//- libs
		script(src="/lib/jquery/dist/jquery.js")
		script(src="/lib/bootstrap/dist/js/bootstrap.js")
		//- angular
		script(src="/lib/angular/angular.js")
		script(src="/lib/angular-ui-router/release/angular-ui-router.js")
		script(src="/lib/angular-resource/angular-resource.js")
		script(src="/lib/angular-cookies/angular-cookies.js")
		//- app
		script(src="/js/app.js")
		//- services
		script(src="/js/services/auth.js")
		script(src="/js/services/user.js")
		script(src="/js/services/tape.js")
		script(src="/js/services/category.js")
		//- controllers
		script(src="/js/controllers/main.js")
		script(src="/js/controllers/admin/users.js")
		script(src="/js/controllers/admin/tapes.js")
		script(src="/js/controllers/admin/categories.js")
		//- page specific