html
	head
		title VHS Nation
		link(rel="stylesheet",href="/lib/font-awesome/css/font-awesome.css")
		link(rel="stylesheet",href="/lib/bootstrap/dist/css/bootstrap.css")
		link(rel="stylesheet",href="/css/style.css")
	
	body(ng-app="vhs-nation", ng-controller="MainCtrl")

		section
			nav.navbar.navbar-inverse
				.container
					.navbar-header
						button.navbar-toggle.collapsed(data-toggle="collapse",data-target="#my-menu")
							i.fa.fa-bars
						a(ui-sref="home").navbar-brand VHS Nation

					.collapse.navbar-collapse#my-menu
						ul.nav.navbar-nav.navbar-left
							li(ng-repeat="item in menuItems.left"
								ng-if="item.access.indexOf(userData.role)>-1"
								)
								a(ng-if="item.href" href="{{item.href}}") {{ item.title }}
								a(ng-if="item.uiSref" ui-sref="{{item.uiSref}}") {{ item.title }}
								a(ng-if="item.ngClick" ng-click="callFunction(item.ngClick)") {{ item.title }}
						ul.nav.navbar-nav.navbar-right
							li(ng-repeat="item in menuItems.right"
								ng-if="item.access.indexOf(userData.role)>-1"
								)
								a(ng-if="item.href" href="{{item.href}}") {{ item.title }}
								a(ng-if="item.uiSref" ui-sref="{{item.uiSref}}") {{ item.title }}
								a(ng-if="item.ngClick" ng-click="callFunction(item.ngClick)") {{ item.title }}

			.container(ui-view="")

		//- libs
		script(src="/lib/jquery/dist/jquery.js")
		script(src="/lib/bootstrap/dist/js/bootstrap.js")
		//- angular
		script(src="/lib/angular/angular.js")
		script(src="/lib/angular-ui-router/release/angular-ui-router.js")
		script(src="/lib/angular-resource/angular-resource.js")
		script(src="/lib/angular-cookies/angular-cookies.js")
		//- app
		script(src="/js/app.js")
		//- services
		script(src="/js/services/auth.js")
		script(src="/js/services/user.js")
		script(src="/js/services/tape.js")
		script(src="/js/services/category.js")
		//- controllers
		script(src="/js/controllers/main.js")
		script(src="/js/controllers/catalogue.js")
		script(src="/js/controllers/admin/users.js")
		script(src="/js/controllers/admin/tapes.js")
		script(src="/js/controllers/admin/categories.js")
		//- page specific