html
	head
		title VHS Nation
		link(rel="stylesheet",href="/lib/font-awesome/css/font-awesome.css")
		link(rel="stylesheet",href="/lib/bootstrap/dist/css/bootstrap.css")
		link(rel="stylesheet",href="/css/style.css")
	body

		nav.navbar.navbar-inverse
			.container-fluid
				.navbar-header
					button.navbar-toggle.collapsed(data-toggle="collapse",data-target="#my-menu")
						i.fa.fa-bars
					a(href="/").navbar-brand VHS Nation

				.collapse.navbar-collapse#my-menu
					ul.nav.navbar-nav.navbar-left
						li: a(href="/promo-tapes") Catalogue
						li: a(href="/promo-tapes") Promo Tapes
					ul.nav.navbar-nav.navbar-right
						li: a(href="/cart") Cart
						li: a(href="/login") Login

		.container
			block content

		//- libs
		script(src="/lib/jquery/dist/jquery.js")
		script(src="/lib/bootstrap/dist/js/bootstrap.js")

		//- page specific
		block scripts